{%  for entry in site.data.navbar.menu %}
  {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
  {% if fullurl == page.url %}
      {% assign current_page = fullurl %}
      {% break %}
  {% elsif page.url contains fullurl %}
      {% assign current_page = fullurl %}
  {% endif %}
{% endfor %}

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">{{site.data.navbar.title}}</li>
      {% for entry in site.data.navbar.menu %}
        {% if entry.url == current_page %}
            {% assign current = ' class="current"' %}
        {% else %}
            <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
            {% assign current = null %}
        {% endif %}
        <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>

