<aside>
    <figure class="avatar">
        <a href="/">
            <img src="{{ site.data.sidebar.avatar }}" id="avatar" title="{{ site.data.sidebar.title }}" height="91" width="91">
        </a>
        <figcaption>
            <strong>
                    <small>{{ site.data.sidebar.name }}</small>
                </strong>
        </figcaption>
    </figure>
    <section>
        <small>{{ site.data.sidebar.bio }}</small>
    </section>
    <hr>
    <ul class="side-nav-categories">
        {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <li><a href="/">{{ category_name }}</a></li>
        {% endfor %}
    </ul>
</aside>
