<aside>
    <figure class="avatar">
        <a href="/">
            <img src="/assets/images/alexander-chaychuk.jpg" id="avatar" title="Alexander Chaychuk" height="91" width="91">
        </a>
        <figcaption>
            <strong>
                    <small>Александр Чайчук</small>
                </strong>
        </figcaption>
    </figure>
    <section>
        <small>Основатель и технический директор в Shoppilot. Пишу о своей работе, спорте и о том, что узнаю каждый день.</small>
    </section>
    <hr>
    <ul class="side-nav-categories">
        <li><a href="/about.html">Обо мне</a></li>
        <li><a href="https://twitter.com/sashich">Твитер</a></li>
        <li><a href="https://www.facebook.com/chaychuk">Фэйсбук</a></li>
        <li><a href="https://www.instagram.com/mrsashich/?hl=ru">Инстаграм</a></li>
    </ul>
</aside>
