<aside>
    <figure class="avatar">
        <a href="/">
            <img src="/assets/images/alexander-chaychuk.jpg" id="avatar" title="Alexander Chaychuk" height="91" width="91">
        </a>
        <figcaption>
            <a href="https://www.facebook.com/chaychuk">
                <strong>
                    <small>Александр Чайчук</small>
                </strong>
            </a>
        </figcaption>
    </figure>
    <section>
        <small>Основатель и технический директор в SHOPPILOT.</small>
    </section>
    <br>
    <section>
        <small>Я пишу о своей работе, спорте и о том, что узнаю каждый день.</small>
    </section>
    <hr>
    <!-- Twitter Follow -->
    <a href="https://twitter.com/sashich" class="twitter-follow-button" data-show-count="false" data-lang="ru">Читать @sashich</a>
    <script>
    ! function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');
    </script>
    <!--     <ul class="side-nav-categories">
        {% for category in site.categories %}
        <li><a href="/categories.html#{{ category[0] }}-ref">{{ category[0] | join: "/" }}</a>
        </li>
        {% endfor %}
    </ul> -->
</aside>
